body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: relative; 
    background: url('/pictures/code_image_blue.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Overlay to improve text readability */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 0; 
}

header img {
    width: 120px;
    border-radius: 50%;
    border: 2px solid gray;
    position: relative;
    z-index: 1;
}

header h1, header p {
    position: relative;
    z-index: 1; 
}



nav {
    display: flex;
    justify-content: center;
    background: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;   
    text-decoration: none;

}
nav a:hover {
    text-decoration: underline;
    color: lightblue;
}
/* Style the image container */
.image-row {
    display: flex; /* Použitie Flexboxu pre zarovnanie v riadku */
    flex-wrap: wrap; /* Povoliť zalamovanie obsahu */
    gap: 20px; /* Priestor medzi obrázkami */
    justify-content: center; /* Centrovanie riadku */
    align-items: center; /* Zarovnanie obrázkov vertikálne */
    padding: 10px;
}

.image-row img {
    height: 80px; /* Nastavenie jednotnej výšky */
    width: auto; /* Zachovanie pomeru strán */
    object-fit: contain; /* Prispôsobenie obrázkov v rámci stanovenej výšky */
    box-sizing: border-box; /* Započítať padding a border do výpočtov veľkosti */
    border: 1px solid #ddd; /* Voliteľné: Pridať border pre vizuálnu zreteľnosť */
    padding: 5px; /* Voliteľné: Pridať padding vo vnútri border */
}

/* Media Queries for smaller screens */
@media (max-width: 600px) {
    .image-row {
        flex-direction: row; /* Obrázky sa zobrazia vertikálne na mobiloch */
        align-items: center; /* Centrovanie obrázkov */
    }

    .image-row img {
        width: 20%; /* Šírka obrázkov sa prispôsobí */
        height: auto; /* Výška bude nastavená automaticky */
        margin-bottom: 3px; /* Medzera medzi obrázkami */
    }
}


section {
    padding: 20px;
    margin: 20px;
    background: rgb(230, 230, 240);
    border-radius: 8px;
}

section h2 {
    color: #333;
    text-align: center;
}

.project {
    margin-bottom: 20px;
}

#contact
{
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
